.btn {
  background-color: rgb(182, 224, 157);
  border: none;
  color: rgb(1, 49, 5);
  border-radius: 4px;
}

.downline {
  background-color: rgb(3, 124, 13);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
